.container {
	padding: 0 2rem;
	--tx-size-title: 4rem;
	--tx-size-subtitle: 1.25rem;
	--tx-size-body: 16px;
	--txt-size-small: 14px;
}

.main {
	width: min(100vw - 4rem, 50rem);
	margin-inline: auto;
	padding-block: 4rem 1rem;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
