@use "../styles/generals.scss";

.title {
	font-size: var(--tx-size-title);
	margin-block: 0rem;
	line-height: 1.15;
}

.description {
	font-size: var(--tx-size-subtitle);
	margin-block: 0rem 1rem;
	line-height: 1.5;
}

.alert {
	margin-block-end: 0.5rem;
	& .alert-icon {
		margin-inline: 0.2rem;
	}
	& .alert-title {
		font-weight: 400;
		margin-block: 0;
	}
}

.form {
	display: grid;
	gap: 0.5rem;
	font-weight: 300;
}

.button {
	width: fit-content;
	font-weight: 400;
	margin-block: 0 1rem;
	margin-inline-end: 0.5rem;
	&[disabled] {
		background-image: none;
	}
}

.textarea-message {
	& div {
		align-items: flex-start;
		margin-block: 15px;
	}
	& textarea {
		font-weight: 300;
		margin-block: 0 1rem;
	}
}

.table {
	margin-block: 0 1.5rem;
}

.pinned {
	display: flex;
	align-items: center;
	gap: 4px;
	color: darkslategray;
	margin-block: 0.5rem 0;
}

.comment,
.guest {
	margin-block: 0.5rem;
}

.comment {
	font-size: var(--tx-size-body);
	& svg {
		position: relative;
		height: 0.6rem;
		top: -0.4rem;
		right: 0.2rem;
		opacity: 0.9;
	}
}

.guest {
	font-size: var(--tx-size-small);
	color: rgb(84, 84, 84);
	display: flex;
	align-items: center;
	gap: 0.5rem;
	& span:nth-of-type(2) {
		display: flex;
		align-items: center;
		& button {
			margin-inline: 0.1rem;
		}
	}
	& .guest-name {
		color: #000;
		font-weight: 400;
		margin-inline-end: 0.2rem;
	}
	& .avatar {
		border-radius: 50%;
	}
}
